<% begin %>
<% if ! @result["data"]["returnflights"].empty? %>
	<% @result["data"]["returnflights"].each do |x| %>	
	
	<%= image_tag(x["airline"].downcase,alt: "Image Unavailable", size: "50" 	) %>
	<%= p x["airline"] %>
	<%= p x["deptime"] %>
	<%= p x["duration"] %>
	<br>
	<% end %> 
<% end %>
 </div>

 <% end %>