<% begin %>
<% if ! @result["data"]["returnflights"].empty? %>
	<% @result["data"]["returnflights"].each do |x| %>	
	<%= p x["airline"] %>
	<%= image_tag(x["airline"].downcase,alt: "Image Unavailable", size: "16" 	) %>
	<% end %> 
<% end %>
 </div>

 <% end %>